# macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


.venv
venv
footy/src/data/
data/
.DS_Store
