<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <title>FootyRef - Find data related to footballers around the world!</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Add jQuery for AJAX -->


    <style>
        .clickable-row {
            cursor: pointer;
        }
    </style>

</head>

<body>
    {% include 'navbar.html' %}

    {% block content %}


    {% endblock %}

</body>

</html>