{% extends 'main.html' %}

{% block content %}

<style>
    .players-all-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>
<div class="players-all-container">
    <div>
        <h3>Browse Teams</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
    </div>
    <div>
        <h3>Players List</h3>
        <ul>
            {% for player in players %}
            <li>
                <a href="{% url 'player_stats' player.slug %}">
                    {{ player.name }} </a> - <a href="{% url 'club_profile' player.club.slug %}">{{ player.club.name }}
                </a>
            </li>
            <hr>
            {% empty %}
            <li>No players found.</li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}